<form class="form-inline">
    <input class="form-control" name="searchInput" placeHolder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="btn btn-outline-primary"(click)="searchText=''">x</button>
</form>
<table class="table table-sm">
    <thead>
        <th>Name</th>
        <th>Country</th>
        <th></th>
    </thead>
    <ng-container *ngFor="let restaurant of restaurantArray">
        <tr class="table-dark" *ngIf="filterCondition(restaurant)">
            <td>{{restaurant.sName}}</td>
            <td>{{restaurant.sCountry}}</td>
            <td>
                <button class ="btn btn-outline-info" (click)="restaurantService.populateForm(restaurant)">Edit</button>
                <button class ="btn btn-outline-danger" (click)="onDelete(restaurant.$key)">Delete</button>
            </td>
        </tr>
    </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">
    Deleted successfully.
</div>