
<div class="row">
  <div class="col-md-5">
    <form [formGroup]= "this.restaurantService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName= "$key">
      <div class="form-group">
        <label>Name</label>
        <input formControlName="sName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.sName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.sName.errors">
          This field is required. </div> 
      </div>
      <div  class="form-group"> 
        <label>Country</label>
        <input formControlName="sCountry" class="form-control">
      </div>
      <div class="form-group">
        <input type= "submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Submitted sucessfully.
    </div>
  </div> 
  <div class="col-md-7">
    <app-restaurant-list></app-restaurant-list>
  </div>
</div>